body {
    box-sizing: border-box;
}
.container {
    margin-top: 30px;
}

li {
    font-weight: 600;
    padding: 10px 0;
}

span {
    font-weight: normal;
    margin-left: 5px;
}

span::before {
    content: '- ';
}
